<?xml version="1.0" encoding="ISO-8859-1"?>
 <web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">
 <servlet>
 <servlet-name>form_roster</servlet-name>
 <servlet-class>info.un_test.form_roster</servlet-class>
      <init-param>
          <param-name>javaEncoding</param-name>
          <param-value>Windows-31J</param-value>
      </init-param>
 </servlet>

 <servlet-mapping>
 <servlet-name>
 form_roster
 </servlet-name>
 <url-pattern>
 /servlet/form_roster
 </url-pattern>
 </servlet-mapping>

 </web-app>