@charset "utf-8";

/*=html
================================================*/
html{
	font-size: 62.5%;
	line-height: 1.6;
	font-family: sans-serif;
}


/*=body
================================================*/
body{
	line-height: 1.6;
}


/*=future-navigation
================================================*/
ul#future-navigation{
	font-size: 14px;
}


/*=branding
================================================*/
div#branding img{
	font-size: 40px;
}


/*=global-navigation
================================================*/
div#global-navigation ul li a{
	font-size: 16px;
}

div#global-navigation ul li a:hover{
	color: #fff;
}


/*=bread-crumb
================================================*/
ol#bread-crumb li a{
	font-size: 14px;
}


/*=main
================================================*/
h1{
	font-size: 45px;
}

h2{
	font-size: 30px;
}

p{
	font-size: 16px;
}

p#intro{
	font-size: 20px;
}

dl{
	font-size: 16px;
}


/*=sub
================================================*/
div#sub h3{
	font-size: 18px;
}


/*=site-information
================================================*/
div#site-information ul li{
	font-size: 16px;
}

div#site-information p{
	font-size: 14px;
}
