<?xml version="1.0"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

  <appSettings>
      <add key="ConnectString" value="userid=root;password=Sanbo1234;database=un;Host=localhost" />
  </appSettings>

</configuration>
