<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">
<servlet>
<servlet-name>hello</servlet-name>
<servlet-class>test2.HelloWorld</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>
hello
</servlet-name>
<url-pattern>
/servlet/hello
</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>kadaiS</servlet-name>
<servlet-class>kadai.kadai24_Uehara</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>
kadaiS
</servlet-name>
<url-pattern>
/servlet/kadaiS
</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>kadaiG</servlet-name>
<servlet-class>kadai.Kadai24get_Uehara</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>
kadaiG
</servlet-name>
<url-pattern>
/servlet/kadaiG
</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>kadaiP</servlet-name>
<servlet-class>kadai.Kadai24Post_Uehara</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>
kadaiP
</servlet-name>
<url-pattern>
/servlet/kadaiP
</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>kadai25</servlet-name>
<servlet-class>kadai.kadai25_Uehara</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>
kadai25
</servlet-name>
<url-pattern>
/servlet/kadai25
</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Keiziban</servlet-name>
<servlet-class>keiziban_Req.Keiziban_RequestSet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>
Keiziban
</servlet-name>
<url-pattern>
/Keiziban
</url-pattern>
</servlet-mapping>

</web-app>
