@charset "utf-8";

/*=html
================================================*/
html{
	background: transparent url(../images/bg_html.gif) no-repeat;
}


/*=body
================================================*/
body{
	background: #f5f5f5;
}


/*=branding
================================================*/
div#branding{
	background: #f5f5f5 url(../images/bg_branding.gif) no-repeat bottom right;
}


/*=global-navigation
================================================*/
div#global-navigation ul,{
	overflow: hidden;
}

div#global-navigation ul,
div#global-navigation ul li a{
	overflow: hidden;
	background: #000;
}

div#global-navigation ul li a.active{
	background: #944383;
}

/*=site-information
================================================*/
div#site-information{
	background: #fff url(../images/bg_site-information_people.gif) no-repeat bottom right;
}
