


 #main{
	margin-top:5%;
	border:solid 1px #ff9900;
}

#id_Company
{
    float:left;
}

#id_Inputform{
    margin-top:0;
    border:solid 1px #ff9900;
    width:900px;
    height:110px;
    margin-left:15%;
}

#id_Inputform li{
	float:left;
}

#id_1l_1{
	clear:both;
	margin-left:6.8%;
}

#id_1l_2{
	margin-left:10%;
}

#id_2l_1{
    clear:both;
	margin:1% 0 0 1.5%;
}

#id_2l_2{
	margin:1% 0 0 8.3%;
}

#id_3l_1{
   clear:both;
   margin:1% 0 0 5%;
}

#id_4l_1{
   clear:both;
   margin:1% 0 0 1.3%;
}

#id_4l_2{
   margin:1% 0 0 15%;
}

.cl_text{
	margin-left:1%;
	height:21px;
}
.cl_text2{
	margin:1% 0 0 1%;
	height:21px;
}

#id_InputLevel{
    margin-left:15%;
    border:solid 1px #ff9900;
    width:900px;
    height:200px;
}

#id_button{
    margin:0 0 0 40%;
}
.cl_StatusTerm
{
    margin:1% 0 0 1%;
}